<app-loading></app-loading>

  <div *ngFor="let project of projectList">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel (opened)="panelOpenState = true" 
        (closed)="panelOpenState = false"
        hideToggle class="project-item">
          <mat-expansion-panel-header>
            <mat-panel-title class="spacking">
              <div class="<project-icon-container>">
                <img src="{{project.iconLink}}" class="project-icon">
              </div>
              <div class="<project-title-container>">
                <span class="project-name">{{project.name}}</span>
              </div>
            </mat-panel-title>
            <mat-panel-title class="spacking">
              <div class="<project-icon-container>" *ngIf="project.latestRelease">
                <mat-icon class="released-icon">local_offer_outline</mat-icon>
              </div>
              <div class="<project-title-container>" *ngIf="project.latestRelease">
                <span class="project-name">{{project.latestRelease}}</span>
              </div>
              <div class="<project-title-container>" *ngIf="!project.latestRelease">
                <mat-icon class="released-icon">horizontal_rule</mat-icon>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!project.description">Empty Description</span>
              <span class="project-description">{{project.description}}</span>
              <div class="blip-container">
                <mat-icon class="badge-commits" matBadge="{{project.commits.length}}" matBadgeColor="accent" matBadgeSize="small" class="issue-icon blip">data_saver_on</mat-icon>
                <mat-icon class="badge-prs" matBadge="{{project.pullRequests}}" matBadgeColor="primary" matBadgeSize="small" class="issue-icon blip">change_circle</mat-icon>
                <mat-icon class="badge-issues" matBadge="{{project.issues}}" matBadgeColor="warn" matBadgeSize="small" class="issue-icon blip">bug_report</mat-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-timeline *ngIf="project.latestRelease"
            [commits]=project.commits
            [release]=project.latestRelease
            [releaseLink]=project.releaseLink
            [releaseDate]=project.releasePublished>
          </app-timeline>
          <mat-action-row>
            <button mat-button color="link">Github
                <mat-icon>open_in_browser</mat-icon>
            </button>              
          </mat-action-row>
        </mat-expansion-panel>      
      </mat-accordion>
  </div>
