<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="repo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Repo </th>
      <td mat-cell *matCellDef="let element"> {{element.repo}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let element"> {{element.user}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reviewed </th>
      <td mat-cell *matCellDef="let element"> 
        <span style="display: none;">{{element.review.status}}</span>
        <div *ngIf="element.review.status=='APPROVED'">
          <mat-icon class="source-link" style="color: green;" 
          matTooltip="Approved by {{element.review.reviewer}} on {{element.review.submitted | date:'mediumDate' }}">verified</mat-icon>
        </div>
        <div *ngIf="element.review.status=='CHANGES_REQUESTED'">
          <mat-icon class="source-link" style="color: red;"
          matTooltip="Requested by {{element.review.reviewer}} on {{element.review.submitted | date:'mediumDate' }}">report_problem</mat-icon>
        </div>
        <div *ngIf="element.review.status=='UNREVIEWED'">
          <mat-icon class="source-link" style="color: gainsboro;">visibility</mat-icon>
        </div>

      </td>
    </ng-container>
  
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
      <td mat-cell *matCellDef="let element"> {{element.updated | date:'medium'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">  
        <a href="{{element.url}}" target="_blank" rel="noopener noreferrer">
          <mat-icon class="source-link">open_in_new</mat-icon>
          </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>